* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg');
    width: 100%;
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

.cal {
    width: 400px;
    /* border: 1px solid black; */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: transparent;
}

input {
    width: 100%;
    height: 60px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    cursor: pointer;
    background-color: black;
    font-size: 20px;
    min-width: 50%;
    height: 40px;
}

/* input::placeholder{
    text-align: right;
} */

button {
    width: 60px;
    height: 40px;
    margin-top: 20px;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    border-radius: 50%;
    min-width: 30px;
    min-height: 20px;
}

.i99 {
    margin-left: 30px;
    font-size: 20px;
}

.ko8 {
    background-color: greenyellow;
}